<div class='col d-flex justify-content-center mt-5'>
  <h1> Forgot your password? </h1>
</div>

<div class='col d-flex justify-content-center mt-4'>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'col-2' }) do |f| %>
    <%= bootstrap_devise_error_messages! %>

    <div class="form-outline mb-4">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
    </div>

    <div class="form-outline mb-4">
      <div class='col d-flex justify-content-center'>
        <%= f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-primary btn-block mb-4 form-control' %>
      </div>
    </div>
  <% end %>
</div>

<div class='col d-flex justify-content-center'>
  <div class="col-2">
    <div class='row mb-4'>
      <div class='col d-flex justify-content-center'>
        <%= link_to t('.sign_up'), new_registration_path(resource_name), class: 'btn ' %>
        <%= link_to t(".log_in"), new_session_path(resource_name), class: 'btn' %>
      </div>
    </div>
  </div>
</div>
