<% if flash[:alert] %>
<div class="alert"><%= flash[:alert] %></div>
<% end %>
<div class='container'>
  <div class='position-absolute top-1 start-0'>
    <div class='row'>
      <div class='col'>
        <div class="d-grid gap-2 d-md-block">
          <% if @cart.order_items.exists? %>
          <h5 >Amount: <%= @cart.sum_cents%></h5>
            <%= link_to 'Orders', orders_path, class: 'btn btn-primary btn-sm'%>
            <%= link_to 'Pay', url_for(
            controller: :orders, action: :pay), class: 'btn btn-primary btn-sm'%>
        </div>
        <% end %>
      </div>
    </div>
      <% @cart.order_items.includes(:product).each do |order_item| %>
      <div class="d-grid gap-2 d-md-block">
        <h5 >Product name: <%=order_item.product.name %></h5>
        <h5 >Product price: <%=order_item.product.price_cents %></h5>
        <h5 >Product quantity: <%=order_item.quantity %></h5>
        <p ><%= order_item.product.availability %> pieces available</p>


        <%= form_with url: "/orders/add_product", method: :get, class: 'mb-3' do |form| %>
          <%= form.hidden_field :product_id, value: order_item.product_id %>

            <% if order_item.product.availability > 0 %>
              <%= form.label :query, "Sizes:", class: 'h5 form-label mt-2' %>
              <% sizes_array = order_item.product.sizes.each { |size| size } %>
              <%= select_tag(:size, options_for_select(sizes_array), class: "form-select") %>

              <%= form.label :query, "Count:", class: 'form-label' %>
              <%= form.number_field :count, min: 0, max: order_item.product.availability, value: order_item.quantity, class: 'form-control' %>
            <div class="d-grid gap-2">
              <%= form.submit "Submit", class: 'd-grid gap-2 btn btn-primary btn-sm mt-2' %>
            </div>
            <% else %>
              <p>Not available</p>
            <% end %>
          <div class="d-grid gap-2">
            <%= link_to 'Delete item', url_for(
            controller: :orders, action: :delete_product, product_id: order_item.product_id), class: 'btn btn-primary btn-sm mt-2'%>
          </div>
        <% end %>
    </div>

      <% end %>
  </div>
</div>
