<% if flash[:alert] %>
<div class="alert"><%= flash[:alert] %></div>
<% end %>
<div class='container'>
  <div class='position-absolute top-1 start-0'>
    <div class='row'>
      <div class='col'>
        <div class="d-grid gap-2 d-md-block">
          <% if @cart.order_items.exists? %>
          <h5 >Amount: <%= @cart.sum_cents%></h5>
            <%= link_to 'Orders', orders_path, class: 'btn btn-primary btn-sm'%>
            <%= link_to 'Pay', url_for(
            controller: :orders, action: :pay), class: 'btn btn-primary btn-sm'%>
        </div>
        <% end %>
      </div>
    </div>
      <% @cart.order_items.includes(:variant).each do |order_item| %>
      <div class="d-grid gap-2 d-md-block">
        <h5 >Product name: <%=order_item.variant.product.name %></h5>
        <h5 >Product price: <%=order_item.variant.product.price_cents %></h5>
        <h5 >Product quantity: <%=order_item.quantity %></h5>
        <p ><%= order_item.variant.availability %> pieces available</p>






        <%= form_with url: "/orders/add_product", method: :get, class: 'mb-3' do |form| %>

            <% if order_item.variant.availability > 0 %>
            <% @cart.variants.each do |variant| %>

              <% variant.option_values.each do |value| %>
                <div class="h5 form-label mt-2">
                  <%= form.label :query, value.presentation %>
                </div>
              <% end %>

              <%= form.radio_button(:variant_id, variant.id) %>
            <% end %>
            <br>

            <%= form.label :query, 'Count:', class: 'h5 form-label mt-2' %>
            <%= form.number_field :count, min: 0, max: @cart.variants.maximum("availability"), value: 1, class: 'form-control' %>

            <div class='d-grid gap-2'>
              <%= form.submit 'Add product to cart', class: 'btn btn-primary btn-sm mt-3' %>
            </div>


            <% else %>
              <p>Not available</p>
            <% end %>
          <div class="d-grid gap-2">
            <%= link_to 'Delete item', url_for(
            controller: :orders, action: :delete_product, variant_id: order_item.variant_id), class: 'btn btn-primary btn-sm mt-2'%>
          </div>
        <% end %>
    </div>

      <% end %>
  </div>
</div>
