<div class='container'>
  <div class='position-absolute top-1 start-0'>
    <div class='row'>
      <div class='col'>
        <% if @product.photos.exists? %>
        <%= image_tag @product.photos.first.image_url(:large) %>
        <% end %>
      </div>
      <div class='col'>
        <h3><%= @product.name %></h3>
        <p>Price: <%= @product.price_cents %></p>
        <p>Sizes: <%= @product.sizes.join(', ') %></p>
        <p>Gender: <%= @product.gender %></p>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-block">
      <%= link_to 'Orders', orders_path, class: 'btn btn-primary btn-sm'%>

      <%= link_to 'add product to cart', url_for(
      controller: :orders, action: :add_product, product_id: @product.id,
      product_price: @product.price_cents), class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
</div>
