<div class='d-flex justify-content-center'>
  <div class="w-30 p-3">
    <div class='row justify-content-md-center'>
      <div class='col'>
        <% if @product.photos.exists? %>
        <%= image_tag @product.photos.first.image_url(:large) %>
        <% else %>
        <%= image_tag '/women-clothing.jpg', class: "rounded mx-auto d-block", width: "200px"%>
        <% end %>
      </div>

      <div class='col'>
        <h3><%= @product.name %></h3>
        <p>Price: <%= @product.price_cents %></p>
        <p>Sizes: <%= @product.sizes.join(', ') %></p>
        <p>Gender: <%= @product.gender %></p>
        <p><%= @product.availability %> pieces available</p>
      </div>
    </div>

      <%= form_with url: "/orders/add_product", method: :get do |form| %>
        <%= form.hidden_field :product_id, value: @product.id, class: 'mb-3' %>

        <% if @product.availability > 0 %>
          <%= form.label :query, "Sizes:", class: 'h5 form-label mt-2' %>
          <% sizes_array = @product.sizes.each { |size| size } %>
          <%= select_tag(:size, options_for_select(sizes_array), class: "form-select") %>

          <%= form.label :query, "Count:", class: 'h5 form-label mt-2' %>
          <%= form.number_field :count, min: 0, max: @product.availability, value: 1, class: 'form-control' %>
        <div class="d-grid gap-2">
          <%= form.submit "Add product to cart", class: 'btn btn-primary btn-sm mt-3' %>
        </div>
        <% else %>
          <p>Not available</p>
        <% end %>
      <% end %>

</div>
