<div class='container'>
  <div class='position-absolute top-1 start-0'>
    <div class='row'>
      <div class='col'>
        <% if @product.photos.exists? %>
        <%= image_tag @product.photos.first.image_url(:large) %>
        <% else %>
        <%= image_tag '/women-clothing.jpg', class: "card-img-top", width: "200px"%>
        <% end %>
      </div>

      <div class='col'>
        <h3><%= @product.name %></h3>
        <p>Price: <%= @product.price_cents %></p>
        <p>Sizes: <%= @product.sizes.join(', ') %></p>
        <p>Gender: <%= @product.gender %></p>
        <p><%= @product.availability %> pieces available</p>

      <div class="d-grid gap-2 d-md-block">
        <%= link_to 'Orders', orders_path, class: 'btn btn-primary btn-sm'%>

      </div>
    </div>
  </div>

  <%= form_with url: "/orders/add_product", method: :get do |form| %>
    <%= form.hidden_field :product_id, value: @product.id, class: 'mb-3' %>
    <% if @product.availability > 0 %>
    <%= form.label :query, "Count:", class: 'form-label' %>
    <%= form.number_field :count, min: 0, max: @product.availability, value: 1, class: 'form-control' %>
    <%= form.submit "Add product to cart", class: 'btn btn-primary btn-sm' %>
    <% else %>
    <p>Not available</p>
    <% end %>
  <% end %>

  </div>
</div>
